.content {
  max-width: 880px;
  margin: auto;
  padding-top: 40px;
}

.profile {
  display: grid;
  width: 880px;
  grid-template-columns: 120px repeat(3, 1fr);
  grid-template-rows: 120px;
  grid-gap: 30px;
  padding-bottom: 50px;
}
.profile__avatar {
  max-width: 120px;
}
.profile__avatar-image {
  width: 100%;
  border-radius: 100%;
}

.profile__grid-content {
  width: 415px;
  display: grid;
  /* grid-column: 2 / 4; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-row-gap: 10px;
  line-height: normal;
}

.profile__content {
  max-width: 415px;
}

.profile__content_name {
  font-family: "Inter";
  font-weight: 500;
  grid-column: 1 / 4;
  margin: 0;
  font-size: 35px;
  line-height: 48px;
  font-weight: 600;
}

.profile__content_info {
  width: 372px;
  grid-column: 1 / 4;
  margin: 0;
  font-size: 18px;
  line-height: 48px;
  font-weight: 600;
}

.profile__button {
  width: 150px;
  height: 50px;
  border: 2px inset;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  cursor: pointer;
  background-image: url(../images/Add\ Button.png);
}

.popup_paragraph {
  width: 220px;
  height: 16px;
  left: 10px;
  color: #ff0000;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__button_add {
  margin-left: 120px;
}

.user__description {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.profile__button_edit {
  width: 24px;
  height: 24px;

  grid-row: 1;
  grid-column: 4;
  background-color: #000;
  background-image: url(../images/Edit\ Button.png);
}

.popup__form-occupation {
  width: 360px;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .profile {
    width: 720px;
    grid-template-columns: 1fr;

    justify-items: center;

    grid-row-gap: 30px;
    padding-bottom: 30px;
  }

  .profile__button_add {
    align-items: center;
    margin-left: 50px;
  }

  .profile__content_info {
    width: 150px;
    grid-column: 1 / 4;
    margin: 0;
    font-size: 18px;
    line-height: 48px;
    font-weight: 600;
  }

  .profile__button_edit {
    width: 24px;
    height: 24px;
    margin-right: 70px;
    grid-row: 1;
    grid-column: 4;
    background-color: #000;
    background-image: url(../images/Edit\ Button.png);
  }

  @media screen and (max-width: 320px) {
    .content {
      width: 282px;
      margin: 0;
      padding: 20px 10px 10px 10px;
    }
    .profile {
      max-width: 290px;
      grid-template-columns: 1fr;
      grid-template-rows: 120px repeat(2, 50px);
      justify-items: center;

      grid-row-gap: 30px;
      padding-bottom: 30px;
    }
    .profile__avatar-image {
      width: 120px;
    }

    .profile__grid-content {
      max-width: 282px;
      grid-column: 1 / 2;
      grid-row: 2;
      grid-template-rows: repeat(2, 20px);
    }

    .profile__content_name {
      width: 224px;
      font-size: 22px;
      margin-left: 17px;
      line-height: normal;
      text-align: center;
    }

    .profile__content_info {
      width: 150px;
      padding: 0;
      font-size: 14px;
      text-align: center;
    }

    .profile__button_edit {
      width: 18px;
      height: 18px;

      align-self: center;
    }

    .profile__button_add {
      grid-row: 3;
      /* width: 282px; */
      margin: auto;
    }
    .profile__button {
      margin-bottom: 5px;
    }
  }
}
