.content {
  max-width: 880px;
  margin: auto;
  padding-top: 40px;
}

.profile {
  display: grid;

  grid-template-columns: 120px repeat(3, 1fr);
  grid-template-rows: 120px;
  grid-gap: 30px;
  padding-bottom: 50px;
}
.profile__avatar {
  max-width: 120px;
}
.profile__avatar-image {
  width: 100%;
  border-radius: 100%;
}

.usergrid {
  width: 415px;
  display: grid;
  /* grid-column: 2 / 4; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-row-gap: 10px;
  line-height: normal;
}

.user__name {
  max-width: 415px;
}

.user__name_paragraph {
  font-family: "Inter";
  font-weight: 500px;
  grid-column: 1 / 4;
  margin: 0;
  font-size: 35px;
  line-height: 48px;
  font-weight: 600;
  padding-top: 22px;
}

.user__description_info {
  grid-column: 1 / 4;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  padding-top: 22px;
}

.user__button {
  border: 2px inset;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  cursor: pointer;
  margin-bottom: 65px;
}

.user__button_add {
  width: 150px;
  height: 24px;
  align-self: end;
}

.user__description {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.user__button_edit {
  width: 24px;
  height: 24px;
  align-self: end;
  margin-bottom: 7px;
}

.popup__form-occupation {
  width: 360px;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 320px) {
  .content {
    width: 282px;
    margin: 0;
  }
  .profile {
    max-width: 290px;
    grid-template-columns: 1fr;
    grid-template-rows: 120px repeat(2, 50px);
    justify-items: center;

    grid-row-gap: 30px;
    padding-bottom: 30px;
  }
  .profile__avatar-image {
    width: 120px;
  }

  .usergrid {
    max-width: 282px;
    grid-column: 1 / 2;
    grid-row: 2;
    grid-template-rows: repeat(2, 20px);
  }

  .user__name_paragraph {
    width: 224px;
    font-size: 22px;
    margin-left: 17px;
    line-height: normal;
  }

  .user__description_info {
    padding: 0;
    font-size: 14px;
  }

  .user__button_edit {
    width: 22px;
    height: 22px;
    margin: 0 0 0 16px;
    align-self: center;
  }

  .user__button_add {
    grid-row: 3;
    padding-right: 27px;
  }
  .user__button {
    width: 282px;
    margin-bottom: 30px;
  }
}
