.footer {
  width: 318;
  height: 18;
  top: 1139px;
  left: 200px;
}

.footer__copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  color: aliceblue;
}
