.gallery {
  width: 880px;
  height: 743px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px 16px;

  text-align: center;
  /*justify-items: center;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gallery__card {
  background: #ffffff;
  border-radius: 10px;
  height: 361px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.gallery__trash_button {
  border: none;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  right: 10px;

  background: url(../images/buttonTrash.png) center no-repeat;
}

.gallery__card-img {
  max-width: 282px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  max-height: 282px;
  min-height: 282px;
}

.gallery__card-title {
  display: flex;
  justify-content: space-between;
}
.gallery__card-place {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 25px;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery__card-like {
  display: flex;
  margin: auto;
  width: 21px;
  height: 19px;

  background-image: url(../images/Vector.svg);
}

.gallery__card_like_active {
  background: url(../images/LikeActive.png);
}
@media screen and (max-width: 320px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px 17px;

    width: 282px;
  }
}
